* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.content_wrapper {
  min-height: 100vh;
  position: relative;
  display: block;
  padding-bottom: 400px;
}

.nav_header {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.nav_header > ul > li {
  font-size: 2em;
  padding: 0 20px;
  color: black;
  letter-spacing: 15px;
  background-color: #EBEBEB;

}

.nav_header > ul > li > a {
  color: black;
}

h2 {
  color: #477D87;
  font-size: 2em;
}

/* HEADER */
.jumbotron {
  background-image: url(images/header.jpg);
  background-size: cover;
  background-color: black;
  color: white;
  margin-bottom: 0;
  padding-bottom: 130px;
  text-align: center;
}

.jumbotron > h1 {
  font-size: 4em;
}

.jumbotron > p {
  font-size: 1.5em;
}
/* END HEADER */

/* PERSONAL INFO */
.personal img {
  border: 5px solid lightblue;
  border-radius: 100%;
  width:200px;
  height:200px;
}

.personal p, .project p {
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
}

.social a {
  padding: 0px 40px;
  font-size: 20px;
}

.social a:hover {
  text-decoration: none;
}

/* END PERSONAL INFO */

/* PROJECT INFO */
.project {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #F5F5F5;
}

.project:hover {
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.project img {
  height: auto;
  width: 100%;
}

.flex {
  display: flex;
}

div.flex {
  justify-content: center;

}

.inactive {
  text-decoration: line-through;
}
/* END PROJECT INFO */

/* FOOTER */
/* footer {
  text-align: center;
  background: -webkit-linear-gradient(top,#D1CECE 44%, #A09F9F 100%);
  padding: 30px 0;
  margin: 0;
  font-size: 1em;
  width: 100%;
} */

.list {
  list-style-type: none;
}


/* Footer */
footer {
    padding: 60px 0;
    background: #007b5e;
    position: absolute;
    height: 200px;
    bottom: 0;
    width: 100%;
}

