html {
  margin:0;
}

body {
  background-color: rgba(103, 152, 154, 0.3);
  font: 100% Helvetica, sans-serif;
  height:100%;
  margin: 0;
}

/* div.container {
  margin-bottom: 15%;
} */

.jumbotron {
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
}

.jumbotron > h1 {
  font-size: 3em;
}

#social a {
  padding: 0px 20px;
  font-size: 36px;
}

#sac {
  color: #5A2D81;
}

#CFC {
  color: #034694;
}

#project_info img {
  height: auto;
  width: 100%;
}

#url {
  text-decoration: line-through;
}

/* #page_footer nav > ul > li {
  display: inline;
  margin: 0 20px 0 0;
  padding: 0;
} */

/* #page_footer {
  position: fixed;
  clear:both;
  text-align: center;
  width:100%;
  display:block;
  bottom: 0;
  background-color: #7c7c7c;
} */

#user_pic {
  border-radius: 100%;
  /* width: 80%;
  height: 80%; */
}

/* footer {
  background-color: #0B0A0A;
  bottom: 0;
  color: white;
  font-size: 1em;
  font-weight: bold;
  left: 0;
  margin-top: 15%;
  padding-bottom: 0;
  position: relative;
  text-align: center;
  width: 100%;
} */

.row {
  margin:0;
}
